<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyTs5M0LdK4ZfGg1djg8F5CiSNQlmh/Jp" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1>Contacto</h1>
        <div id="contacto-detalle" class="card">
            <div class="card-body">
                <!-- Aquí se mostrarán los detalles del contacto -->
            </div>
        </div>
        <a href="/" class="btn btn-primary mt-3">Volver a la lista de contactos</a>
    </div>

    <!-- Enlaces a Bootstrap JS (si es necesario) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-Y3q5gF9s3G8O0pkj43jj9z9IsQOkdFQbI9blT3O5smAxFP5FPFqXFmy9aCsq0ja2" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap
